/***************************************************************************/
/*   All the classes required by the application which will impart color   */
/***************************************************************************/

$danger-color = red

// Don't change order, sheet cascade in work,
// first bg style then fg color styles
// then accent
// Because we use @extend, further extends along stylesheet
// will be merged to first occurance and then the positional cascade will
// take affect accordingly
for name, color in $bg-colors
  .bg-{name}
    background-color: color

for name, color in $fg-colors
  .fg-{name}
    color: color

  .bdr-{name}
    border-color: color

  .fill-{name}
    fill: color

for name, color in $accent-colors
  .bg-acc-{name}
    background-color: color

  .fg-acc-{name}
    color: color

  .bdr-acc-{name}
    border-color: color

  .fill-acc-{name}
    fill: color

.bg-danger
  background-color: $danger-color

.fg-danger
  color: $danger-color

.bdr-danger
  border-color: $danger-color

.bdr-empty
  border-color: transparent

/* Now we set some very basic colors */
body
  @extend .bg-primary;
  @extend .fg-primary;

a
  @extend .fg-acc-primary;

// TODO: add hover and other effects

.title-font
  @extend .fg-acc-primary;

button
  @extend .fg-primary

.button
  @extend .fg-acc-primary
  @extend .bdr-acc-primary

.button:hover, .button:active
  @extend .bg-acc-primary
  @extend .fg-inverse

.big-link:after
  @extend .bg-acc-primary

input,
textarea
  @extend .fg-primary
  @extend .bdr-primary

input:focus,
textarea:focus
  @extend .bdr-acc-primary

input.touched.invalid,
textarea.touched.invalid
  @extend .bdr-danger

.work-grid-separator::after
  @extend .bdr-acc-primary

.skill-bubble.arrow
  &::before
    @extend .bdr-primary

  &::after
    @extend .bdr-absolute-inverse

.svg-color-lighter
  svg .shadable-fill
    @extend .fill-lighter

.svg-color-primary-on-hover:hover,
.svg-color-primary-on-hover:focus,
.svg-color-primary-on-active:active
  outline: 0
  svg .shadable-fill
    @extend .fill-primary

// Should be after others as this has to have higher precedence
.svg-active-acc,
.svg-active-acc:hover,
.svg-active-acc:active
.svg-active-acc:focus
  svg .shadable-fill
    @extend .fill-acc-primary

.fg-primary-on-hover:hover,
.fg-primary-on-hover:focus,
.fg-primary-on-active:active
  outline: 0
  @extend .fg-primary
